@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:'titillium web',fantasy;
}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#e8e8e8;
}
.content
{
    position:relative;
}
 .content h2
{
    position:absolute; 
    transform: translate(-50%,-50%);
    font-size:15em;
} 
.content h2:nth-child(1)
{
    color:transparent;
    -webkit-text-stroke:3px #333;
    filter:blur(3px);
}
.content h2:nth-child(3)
{
    color:#fff6;
    filter:drop-shadow(0 15px 15px #fff);
    z-index: 1;
    text-shadow:-15px 15px 15px rgba(0,0,0,0.2),15px -15px 15px rgba(255,255,255,0.2);
}
.content h2:nth-child(2)
{
    color:#03a9f4;
    z-index:2;
    
    animation:animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0 50%, 2% 47%, 5% 45%, 8% 43%, 11% 42%, 15% 41%, 22% 41%, 26% 42%, 33% 45%, 39% 50%, 43% 53%, 46% 57%, 50% 60%, 54% 62%, 56% 63%, 62% 64%, 67% 63%, 72% 62%, 77% 59%, 80% 57%, 83% 55%, 85% 54%, 87% 53%, 90% 52%, 92% 51%, 94% 51%, 97% 51%, 100% 55%, 100% 53%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0 51%, 3% 54%, 5% 57%, 8% 59%, 10% 61%, 13% 63%, 17% 64%, 21% 65%, 24% 65%, 28% 66%, 32% 66%, 35% 66%, 38% 65%, 42% 63%, 46% 60%, 49% 59%, 54% 55%, 58% 53%, 63% 51%, 66% 50%, 71% 50%, 75% 50%, 78% 50%, 82% 51%, 86% 52%, 90% 52%, 93% 54%, 98% 55%, 100% 57%, 100% 100%, 0% 100%);
    }
}